*{
    margin:0;
    border: border-box;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-bar{
    background-color:#0f1111;
    height:60px;
    display: flex;
    justify-content: space-evenly;
   
    
   
    
   
}
.nav-logo{
    height: 50px;
    width:120px;
    
    
   position: relative;
   top:5px;

}
.nicon{
    position: relative;
    top:18px;
    left:30px;
    margin: 7px;
   
    height: 10px;
}
.name p{
    height: 16px;
    width: 120px;
    position: relative;
    top:9px;
    color: gray;
    
 
}
.name h3{
    position: relative;
    top:10px;
    height: 16px;
    width: 160px;
  
    font-style: normal;
    font-size: large;
   
    
}
.nselect select{
    height: 38px;
    width: 60px;
    position: relative;
    top:9px;
   left: 50px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px ;
    background-color:whitesmoke;
    color:grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
.nsearch{
    height: 38px;
    width: 456px;
    position: relative;
    top:9px;
    background-color:white;
    border: 1px soid;
    color: grey;
 

   

}
.nsearch>p{
    padding: 7px 10px 10px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;



}

.nbutton{
    height: 38px;
    width: 45px;
    background-color: rgb(213, 161, 92);
    border: none;
    position: relative;
    top:9px;
    right: 50px;
   
    
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;

 
}



.sel select{
    height: 25px;
    width: 40px;
    position: relative;
    top:20px;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    
   
  

}
.hello{
    position: relative;
    top:10px;

}
.hello p{
    margin-left: 23px;
    font-size: 12px;
    height: 15px;
    width: 113px;
}

.hello select{
    margin-left: 20px;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 15px;
    height: 15px;
    width: 113px;
}
.ret{
    position: relative;
    top:5px;
}
.header {
    height: 40px;
   display:flex ;
   flex-direction: row;
   justify-content: space-between;
  background-color:rgb(72, 95, 102);
  
  width: auto;
}
.header a{
    height: 30px;
    position: relative;
    padding-top: 5px;
    text-decoration: none;
   
   
   
   
}
.header a:hover{
    border:1px solid;
    
}
.msg{
  
position: absolute;
top: 100px;

}
img.hero{
    width:100%;
    height: 300px;
    size: cover;
   

}
.content-section{
    background-color: rgb(207, 213, 211);
    height: 850px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
}
.box{
    
    width:290px;
    height: 400px;
    background-color: aliceblue;
    color: #0f1111;
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left:30px;
    margin:1px;
    
    
    
}
.box h3:first-child{
    color:#0f1111;
    font-weight: 500;
    font-size: 30px;

}


.box a:last-child{
    color:#02a871f9;
    padding-bottom: 10px;

}

.box img{
    margin: 0;
    padding: 0;
}




 .content-section a{
    text-decoration-line: none;
 
}
.content-section a:hover{
    color:rgb(119, 159, 159);
  }
.footer{
    display: flex;
    flex-direction: row;
  align-items: center;
   justify-content: center;
    height: 70px;
    background-color: #232F3E;
    
   
}
.footer a{
    text-decoration: none;
}
.footer-panel{
    background-color:#0f1111;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 400px;
 
}


.footer-panel ul {
    position: relative;
    top:100px;
}

.footer-panel ul li{
    list-style: none;
  padding: 10px;

   
}







  
   
   


